/** Common Breadcrumbs **/
/** Used by QuickInfoBar -> ActiveFiltersBar **/

$active-filters-bar-term-color: $facetlist-selected-term-color !default;

.active-filters-bar-container {
    .crumbs-title {
        font-weight: 500;
        margin-bottom: 6px;
        font-size: 1rem;
    }
}


.active-filters-bar {
    position: relative;
    margin: 0;

    .field-group {
        display: inline-block;
        margin-right: 14px;
        position: relative;
        z-index: 1;
        transition: z-index .5s;
        /* white-space: nowrap; */

        > .field-label {
            position: absolute;
            bottom: -24px;
            font-size: 0.85rem;
            line-height: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            left: -3px;
            min-width: 100%;
            width: 100%;
            box-sizing: content-box;
            padding: 5px 3px 4px 3px;
            text-transform: capitalize;
            border-radius: 1px;
            border-top: 1px solid transparent;
            box-shadow: 0px 5px 3px -14px rgba(0,0,0,0);
            transition: box-shadow .5s, width .5s, background-color .5s, border-color .5s;
        }
        &:last-child {
            margin-right: 0;
            > .field-label {
                overflow: visible;
            }
        }
        &:hover {
            z-index: 10;
            > .field-label {
                z-index: 10;
                //overflow: visible;
                //right: auto;
                //max-width: 320px;
                //width: 150px;
                //box-shadow: 0px 5px 3px -4px rgba(0,0,0,0.2);
                //background-color: #fff;
                border-top-color: #333;
            }
        }
        &:before {
            content: '';
            position: absolute;
            left: -3px;
            right: -3px;
            bottom: -3px;
            height: 3px;
            border: 1px solid #ccc;
            border-top: none;
        }
        &:not(:last-child):after {
            content: "&";
            position: absolute;
            font-size: 12px;
            right: -11px;
            right: -10.5px;
            top: 50%;
            margin-top: -9px;
            color: #555;
        }
        
    }

    .chart-crumb {
        display: inline-block;
        font-size: 0.925rem;
        margin-bottom: 2px;
        height: 26px;
        line-height: 26px;
        position: relative;
        transition: opacity 0.5s, background-color .5s;
        color: #fff;
        font-weight: 500;
        padding: 0 12px;
        background-color: $active-filters-bar-term-color;
        > .icon-container {
            padding-left: 7px;
            cursor: pointer;
            opacity: 0.5;
            &:hover {
                opacity : 1;
            }
            > i.icon {
                vertical-align: middle;
            }
        }
    }

    &:not(.sequential){
        
        .chart-crumb {
            border-radius: 3px;
            position: relative;
            &:not(:last-of-type){
                margin-right: 7px;
            }
            &:not(:last-of-type):after {
                position: absolute;
                font-size: 0.5rem;
                right: -4px;
                content: " ";
                top: 7px;
                height: 12px;
                width: 0px;
                border-right: 1px solid #777;
            }
        }
    }

    .field-group {
        > .chart-crumb {
            &:after {
                border-color: #777;
            }
        }
        &:hover {
            > .chart-crumb {
                &:after {
                    border-color: #000;
                }
            }
        }
    }

    &.sequential {
        overflow: visible;
        margin-left: -12px;

        &:before {
            content : '';
            position: absolute;
            z-index: 1;
            height: 54px;
            width: 12px;
            background-color: #fff;
            left: 0;
            top: 0;
        }

        .chart-crumb {
            padding: 0 12px 0 25px;  

            &:not(:first-child) {
                padding-left: 25px;
            }

            &:not(:last-child){
                &:after {
                    //content: '\f105';
                    content: '';
                    //font-family: $fa-font-family;
                    position: absolute;
                    transform: rotateZ(45deg);
                    height: 18px;
                    width: 18px;
                    box-sizing: content-box;
                    border-top: 2px solid #fff;
                    border-right: 2px solid #fff;
                    z-index: 2;
                    background-color: inherit;
                    right: -11px;
                    top: 3px;
                    color: #bbb;
                }
            }

            &:first-child {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            &:last-child {
                //background-color: transparent !important;
                //color: #333;
                //padding-right: 0px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

        }
    }

    [data-field="experiments_in_set.biosample.biosource.biosource_type"]{
        text-transform: capitalize;
    }

}