/**********************************************************
		Editable Fields & FieldSets (e.g. in User.js)
***********************************************************/


// .fieldset.editable-fields,
// .editable-fields-container {

// 	&.editing {

// 		.editable-field-entry:not(.editing) {
// 			filter: blur(0.75px) grayscale(75%);
// 			opacity: 0.75;
// 			pointer-events: none;
// 		}

// 	}
// }



div.fieldset.editable-fields {

	// padding-bottom: 15px;

    // @include media-breakpoint-up(md) {
	// 	// Transition is too laggy on (some) mobile
	// 	transition: padding-bottom .5s linear;
	// }

	&.editing {
		padding-bottom: 0px;
	}

}

.editable-field-entry,
.field-entry {

	// large text inputBorder
	.input-lg {
		@include font-size(1.42rem);
		font-weight: normal;
		height: 36px !important;
		line-height: 30px !important;
		padding: 4px 6px !important;
	}

	// medium text inputBorder
	.input-md {
		@include font-size(1.21rem);
		font-weight: normal;
		height: 28px !important;
		line-height: 22px !important;
		padding: 2px 3px !important;
	}

	label {
		margin-bottom: 0;
		font-weight: 500;
	}

	.value {
		word-break : break-word;
		padding-bottom: 10px;

		.not-set {
			color: #bbb;
		}

	}

	&.row {

		> ul,
		> div.value > ul {
			margin: 0;
			padding: 0;
			padding-left: 20px;

			> li {
				list-style-position: outside;

				> i.icon {
					position: relative;
					top: 1px;
					color: #d2d2d2;
				}
			}

		}

	}

}


.editable-field-entry {
	opacity: 1;
	min-height: 30px;

	@include media-breakpoint-up(sm) {
		transition: filter .75s, opacity .5s, min-height .5s linear;
	}

	.value {

		.edit-button,
		.cancel-button,
		.save-button,
		.field-loading-icon {
			padding: 0 6px;
			// line-height: 100%;
			height: 100%;
		}

		.cancel-button,
		.save-button {
			padding-top: 0px;
			font-size: 1.1em;
			margin-bottom: -2px;
			position: relative;
			z-index: 4;

			&:hover {
				color: #000;
			}
		}

		.cancel-button {
			color : $danger;
		}

		.save-button {
			color : $success;
		}

		.field-loading-icon {
			// padding-top: 9px;
			// margin-bottom: -10px;
			color : #bbb;
		}

		.edit-button {
			color: transparent;
			transform: translateY(2px);
			margin-top: -1px;
			&.show-absolute {
				position: absolute;
				//margin-top: -5px;
				padding: 0;
				height: 20px;
				width: 20px;
				text-align: center;
				border-radius: 50%;
			}
			&.always-visible {
				color: #dedede;
			}
		}

		&:hover .edit-button {
			color : #aaa;
			&.inline { background-color: rgba(255,255,255,0.5); }
			&:hover {
				color: #000;
			}
		}

	}

	&.editing {

		// &:not(.inline){
		// 	min-height: 45px;
		// }

		.edit-button { visibility: hidden; }

		span.input-wrapper {
			@include media-breakpoint-up(sm) {
				margin-bottom : -100px; // For min-height transition (prevent jumping).
			}
			margin-right: 75px; // Room for action icons/buttons.
			display: block;
			position: relative;
			z-index: 2;

			input[type=text],
			input[type=number],
			input[type=email],
			input[type=tel] {
				border: 0 !important;
				outline: 0 !important;
				background: transparent;
				border-bottom: 1px solid $border-color !important;
				border-radius: 0 !important;
				padding: 0 !important;
				display: block;
				margin-bottom: 0px;
				//width: 100%;
				position: relative;
				z-index: 3;
				height: initial !important;
			}

			input[type=number] {
				width: 60px !important;
			}

			input:focus{
				outline-style: none !important;
				box-shadow: none !important;
			}

			span.help-block {
				font-size: .85rem;
				padding: 5px 3px 7px;
				margin: 0;
				background-color: #fff;
				border-bottom: 1px solid #eee;
				box-shadow: 0 10px 15px 0px rgba(255,255,255,0.75);
				word-break: break-word;
				transition: opacity .35s .15s;
			}

			span.tip-block {
				font-size: .85rem;
				padding: 5px 3px 7px;
				margin: 0;
				background-color: #fff;
				border-bottom: 1px solid #eee;
				box-shadow: 0 10px 15px 0px rgba(255,255,255,0.75);
				word-break: break-word;
				transition: opacity .35s .15s;
			}

			// &.input-text {
			// 	width: 100%;
			// }
		}

		&.inline {
			// display: inline-block;
			position: relative;

			span.input-wrapper {
				display: inline-block;
				margin-bottom: 0px;
				vertical-align: top;
				span.help-block {
					position: absolute;
					width: 100%;
				}
				span.tip_block {
					position: absolute;
					width: 100%;
				}
			}

			&.block-style {
				.value.ghost {
					opacity: 0.5;
				}
				.value.editing {
					display: flex;
					align-items: center;
					position: absolute;
					z-index: 10;
					width: 280px;
					top: -2px;
					/* left: 0; */
					background: rgba(250,250,250,0.9);
					/* box-shadow: 0 1px 10px -3px rgba(0,0,0,0.25); */
					padding: 1px 2px;
					border-radius: 5px;
					border: 1px solid $border-color;
					/* border-bottom-color: #ddd; */
					> .input-wrapper.input-text {
						width: auto;
						> input {
							border: none !important;
						}
					}
				}
				span.input-wrapper span.help-block span.tip-block{
					position: absolute;
					background: none;
					border-bottom: none;
					box-shadow: none;
					padding: 8px 5px 6px;
				}
				&.has-error span.input-wrapper span.help-block span.tip-block{
					position: relative;
				}
			}

			.save-button,
			.field-loading-icon {
				position: absolute;
				right: 36px;
			}
			.cancel-button {
				position: absolute;
				right: 6px;
			}

			&.input-size-lg {
				.save-button,
				.cancel-button,
				.field-loading-icon {
					font-size: 1.25rem;
					height: auto;
				}
				.field-loading-icon {
					height: auto;
				}
				
			}

		}

	}

	&.editing.row.has-error,
	&.editing.inline.has-error:not(.block-style) {
		min-height: 80px;

		span.help-block {
			opacity : 1;
		}
	}

	&.editing:not(.has-error) {

		span.help-block {
			opacity : 0;
			position: absolute;
			transition: opacity .35s, color .5s .5s !important;
		}
	}

}

.flexible-description-box .editable-field-entry{
	overflow: hidden;
	.value {
		padding-left: 0px;
	}
}
.flexible-description-box.not-expandable .editable-field-entry{
	.value {
		padding-left: 10px;
	}
}

.result-table-detail td span.input-text {
	width: 75% !important;
}