@use "sass:math";

/************** Styles for FacetList ***************/

// Default vars - may be overridden earlier in import chain.
$facetlist-term-line-height: 1.075rem !default;
$facetlist-selected-term-color: blue !default;
$facetlist-omitted-term-color : red !default;
$facetlist-term-font-size: 0.875rem !default;
$facetlist-facet-font-size: 0.925rem !default;
$facetlist-term-block-height: default !default;

.facets-container {
    padding-top: 0;
    padding-bottom: 2px;
    border: 1px solid #e8e8e8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    //border-radius: 3px;

    /*
    .browse-page-container & {
        margin-top: 38px;
    }
    */

    .facets-controls {
        margin-left: -1px;
        margin-right: -1px;
        background-color: #f0f0f0;
        border-bottom-color: #f0f0f0;

        .properties-controls {
            gap: 3px;

            > button {
                flex: 1;
            }
        }
    }

    .facets-header {
        //padding-top: ($grid-gutter-width / 2);
        //padding-bottom: ($grid-gutter-width / 2);
        border-bottom: 1px solid #eee;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        color: #111;

        .facets-title-column {
            display: flex;
            align-items: center;
            .facets-title {
                font-weight: 300;
                margin: 0;
                line-height: inherit;
                color: inherit;
                display: inline;
            }

            >.icon-toggle {
                >div button {
                    color: #fff;
                }

                >div:last-child button {
                    &.active {
                        background-color: $facetlist-omitted-term-color;
                    }
                }
            }
        }

        
    }

    .facets-body {
        padding-left: math.div($grid-gutter-width, 2);
        padding-right: math.div($grid-gutter-width, 2);
    }

    &.with-header-bg .facets-header {
        background-color: $primary-dark;
        border-bottom: none;
        color: #fff;
        height: 46px;

        &.row {
            margin-left: -1px;
            margin-right: -1px;
            margin-top: -1px;
            align-items: center;
        }
    }

}


.facets-container {

    &[data-context-loading="true"]{
        // Same as for EmbeddedSearchView (see: search-view-table.scss)
        opacity: 0.75;
        filter: saturate(0.5);
        pointer-events: none;
    }

    .facet-list-separator {
        padding: 10px 0;
        text-align: center;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #eee;
        font-weight: 300;
    }

    .facet {

        margin-left: -10px;
        margin-right: -10px;
        padding-left : 10px;
        padding-right : 10px;

        > .facet-group-list-container {
            padding-left: 20px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0px;
                top: 19px; // Facet title min height is 40px; Try to vertically center-ish it.
                bottom: 19px;
                width: 5px;
                border: 1px solid #ddd;
                border-right: none;
            }
        }

        &.closed,
        &.static {
            overflow: hidden;
        }

        &.active-submission-row {
            position: relative;
            z-index: 5;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #f4f4f4;
        }

        &:last-child {
            margin-bottom: 0;
            &.static {
                margin-bottom: -2px;
            }
        }

        &.range-facet {
            .facet-list > .inner-panel.expandable-list {
                margin-bottom: 0;

                .range-drop-group {
                    text-align-last: center;
                    
                    div.range-drop {
                        display: flex;
                        align-items: center;  
                        line-height: 1;

                        label {
                            display: inline-block;
                        }

                        .rcol {
                            > button {
                                width: 100%;
                                text-align: right;
                                padding-left: .5rem; // Same as default button rather than dropdown's button increased 10px. TODO: Get from bootstrap variable if possible.

                                .clear-icon-container { // Not always present in DOM.
                                    margin-left: -.5rem; // Cancel out parent's padding for larger click area
                                    padding: 0 .5rem;
                                    opacity: 1;
                                    &.disabled {
                                        opacity: 0.25;
                                    }
                                    &:hover:not(.disabled) {
                                        opacity: 1;
                                        > i {
                                            text-shadow: 0 0px 4px #0009;
                                        }
                                    }
                                    > i { // Same as for .facet-list term icon (below here)
                                        transform: scale(0.9);
                                        transform-origin: 50% 50%;
                                    }
                                }
                            }
                        }

                        .dropdown > .dropdown-menu {
                            .inline-input-container {
                                padding-left: 10px;
                                display: flex;
                                align-items: center;
                                margin-bottom: 0px !important; /* overrides #content form margin-bottom: 10px !important style. */

                                &.has-options {
                                    padding-bottom: 10px;
                                    border-bottom: 1px solid #ddd;
                                    margin-bottom: 8px !important;
                                }

                                > .input-element-container {
                                    flex: 1;
                                }
                                > button {
                                    padding-right: 10px;
                                    padding-left: 10px;
                                    opacity: 0.7;
                                    &:hover:not(&:disabled){
                                        opacity: 1;
                                    }
                                    &:disabled {
                                        opacity: 0.3;
                                    }
                                    > i.icon {
                                        &.disabled {
                                            opacity: 0.33;
                                        }
                                    }
                                }
                                
                            }
                        }
                        
                    }
                }
            }
        }

        h5.facet-title {
            margin: 0 0 3px;
            font-weight: 500;
            line-height: inherit;
            height: 40px;
            @include font-size($facetlist-facet-font-size);

            > i.icon-info-circle {
                margin-left: 6px;
                opacity: 0.25;
                transition: opacity .5s;
                &:hover {
                    opacity: 0.75;
                }
            }

            > i.icon-plus {
                text-shadow: 0 0 0;
            }

            > span {
                line-height: 1;
                text-shadow: 0 0 0;
            }
        }

        &:not(.static) {
            transition: padding-bottom .35s ease, background-color .35s ease;
            background-color: transparent;
            h5.facet-title {
                
                margin : 0;
                border-top: 1px solid transparent;
                //border-bottom: 1px solid transparent;
                border-bottom: 1px solid #f8f8f8;
                
                cursor: pointer;
                display: flex;
                align-items: center;
                > span.expand-toggle > i.icon {
                    font-size: 0.7rem;
                    margin-right: 7px;
                }

                .closed-terms-count {
                    transition: opacity .35s ease, transform .35s ease-out;
                    font-weight: 300;
                    color: #999;
                    font-size: 0.75rem;
                    line-height : 1rem;
                    transform-origin: 100% 50%;
                    transform: scale3d(0.9, 0.9, 0.9);
                    // top: 0px;
                    // position: relative;
                    > i {
                        padding-top: 4px;
                        position: relative;
                        margin-right: 1px;
                        margin-right: 0.5px;
                    }

                    svg.svg-count-indicator,
                    i.icon {
                        transition: transform .35s ease-out;
                    }

                    svg.svg-count-indicator {
                        circle {
                            fill: #999;
                            transition: fill .2s ease-out;
                        }
                    }

                    &.some-selected {
                        color: $facetlist-selected-term-color;
                        //transform: scale3d(1.025, 1.025, 1.025);// translateX(2px);
                        svg.svg-count-indicator {
                            circle {
                                &.active {
                                    fill: $facetlist-selected-term-color;
                                    stroke: $facetlist-selected-term-color;
                                    stroke-width: 1px;
                                    opacity: 1 !important;
                                }
                                &:not(.active) {
                                    fill: #9995;
                                }
                            }
                        }
                    }

                    &.fade:not(.show) { // Adjust/extend `Fade` closed style
                        opacity: 0.5;
                        transform: scale3d(0.825, 0.825, 0.825);
                    }
                }

                &:hover {
                    .closed-terms-count {

                        &.show {
                            transform: scale3d(1.075, 1.075, 1);// translateX(-5px);
                            &.some-selected {
                                svg.svg-count-indicator circle {
                                    &:not(.active) {
                                        fill: #999a;
                                    }
                                }
                            }
                        }

                        svg.svg-count-indicator,
                        i.icon {
                            transform: translateX(-3px);
                        }

                        // &:hover svg.svg-count-indicator,
                        // &:hover i.icon {
                        //     transform: translateX(-6px);
                        // }

                    }

                }

                .icon-container {
                    opacity: 0.5;
                }
            }
            // &.open:not(.closing) {
            //     > h5.facet-title .closed-terms-count {
            //         top : 7px;
            //     }
            // }
            &.closed, &.closing {
                padding-bottom: 0px;
                background-color: #fcfcfc;
                border-bottom-color: #f0f0f0;
                h5.facet-title {
                    font-weight: 400;
                }
            }
            &.closed {
                h5.facet-title {
                    border-bottom-color: transparent;
                }
            }
        }

        // Will have .facet-static-row if only one term -OR- .facet-list if multiple.
        // Contents have same/similar classes (representing content) but must be styled differently.

        .facet-static-row {

            display: flex;
            align-items: center;
            min-height: 40px;
            padding: 2px 0;

            > .facet-title,
            > .facet-item {
                display: block;
                flex: 1;
                margin: 0;
                > span {
                    line-height: 1.25rem;
                }
            }

            .facet-title {
                height: auto; // Unset 40px
                padding-right: 12px;
                min-width: 33%;
                text-align: right;

                &:after{
                    content : "";
                }
            }

            .facet-item {
                padding-left: 12px;
                padding-left: 12.5px;
                vertical-align: top;
                float: right;
                text-align: left;
                @include font-size($facetlist-facet-font-size);
                @include no-user-select;

                span {
                    cursor: pointer;
                    i.icon {
                        font-size: .5rem;
                        vertical-align: text-top;
                        line-height: 1.15rem;
                        opacity: 0.05;
                        width: 25px;
                        margin-left: -25px;
                    }
                }

                span:hover {
                    text-shadow: 0 0 0;
                    i.icon {
                        opacity: 0.5;
                    }
                }

                &.selected span i.icon {
                    opacity: 1 !important;
                    color : #248bac;
                    font-size: 0.825rem;
                }

                &.omitted span i.icon {
                    opacity: 1 !important;
                    color : #7e4544;
                    font-size: 0.825rem;
                }

                &.filtering span i.icon {
                    opacity: 0.33 !important;
                    color : #888 !important;
                    font-size: 0.825rem;
                }

            }
        }

        &.all-single-term {
            .facet-item {
                text-align: left;
                width: 50%;
            }
        }

        .facet-list {
            margin: 0;
            list-style: none;
            padding-top: 0px;
            padding-bottom: 0px;
            transition: padding-bottom .35s ease-out, padding-top .35s ease-out;

            &[data-open="true"],
            &[data-any-active="true"]{
                padding-top: 8px;
                padding-bottom: 8px;
            }

            li {
                margin-bottom: 1px;
                position: relative;
                @include font-size($facetlist-term-font-size);
                line-height: 1rem;

                > a {
                    // Have started experimentally converging styling of RangeFacet and these terms a little more.
                    // Perhaps some aspects could be re-used.
                    border-radius: $border-radius-sm;
                    padding: 3px;
                    text-decoration: none;
                    display: block;
                    position: relative;
                    color: #888;
                    display: flex;
                    align-items: center;
                    line-height: $facetlist-term-line-height;
                    height: $facetlist-term-block-height;

                    i.icon.icon-circle-notch {
                        opacity: 0.33;
                    }

                    i.icon.unselected {
                        opacity: 0.15;
                    }

                    &:hover {
                        color: #000000;
                        background-color: #f1f7f9;
                    }
                    &.highlight {
                        color  : #fff !important;
                        transition : background-color .5s;
                    }

                    .facet-selector {
                        min-width: 20px;
                        line-height: 1; // Fontface height
                        text-align: center;
                        > i {
                            transform: scale(0.9);
                            transform-origin: 50% 50%;
                        }
                    }

                    .facet-item {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        flex-grow: 1;
                        padding-left: 5px;
                    }

                    .facet-count {
                        padding-left: 10px;
                        padding-right: 5px;
                    }

                }

                &.selected:last-child:after ,
                &.omitted:last-child:after {
                    content: " ";
                    border-bottom: 1px solid #ccc;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    display: block;
                }

                &.selected > a {
                    text-decoration: none;
                    color: #f8f8f8;
                    background-color: $facetlist-selected-term-color;
                    &:hover {
                        color: #fff;
                        .facet-item, .facet-count {
                            text-shadow: 0px 0px 0px #fff;
                        }
                    }
                }

                &.omitted > a {
                    text-decoration: none;
                    color: #f8f8f8;
                    background-color: $facetlist-omitted-term-color;
                    &:hover {
                        color: #fff;
                        .facet-item, .facet-count {
                            text-shadow: 0px 0px 0px #fff;
                        }
                    }
                }
            }

            &[data-all-active="true"],
            &[data-persist-terms="false"] {
                li.selected:last-child:after,
                li.omitted:last-child:after {
                    content: none;
                    display: none;
                }
            }

            .expandable-list {
                margin-bottom: 0;
            }

            .view-more-button {
                cursor: pointer;
                font-size: 0.85rem;
                border: 1px solid #888;
                padding: 2px 6px 1px;
                line-height: 20px;
                border-radius: 2px;
                &:hover {
                    border-color: #000;
                }

                i.icon {
                    font-size: 0.8rem;
                    position: relative;
                    left: -2px;
                }
            }

            
        }

        &.closed .facet-list {
            li {
                &.selected:last-child:after ,
                &.omitted:last-child:after {
                    //display: none;
                    border-width: 0px;
                    border-color: transparent;
                    margin: 0px;
                    transition: margin .35s .1s ease-out, border-width 0s .45s ease-out, border-color .35s ease-out;
                }
            }
        }

        /* .facet */
        /* Capitalize facet terms belonging to certain 'safe-to-capitalize' facets */
        &[data-field="experiments_in_set.biosample.biosource.organism.name"] .term,
        &[data-field="experiments_in_set.biosample.biosource.biosource_type"] .term,
        &[data-field="experiments_in_set.biosample.biosource_summary"] .term {
            text-transform: capitalize;
        }

        &[data-field="status"] .term[data-term="deleted"][data-selected="false"] > .facet-item,
        &[data-field="status"] .term[data-term="replaced"][data-selected="false"] > .facet-item {
            &:after {
                content: ' (not shown)';
                font-weight: 300;
                opacity: 0.75;
            }
        }
    }

}


/** Contain FacetList when on EmbeddedSearchView **/

@mixin facets-body-contained-height-style {
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #aaa;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
        margin-right: -1px;
    }
}

.embedded-search-container .search-view-controls-and-results {
	.facets-container.facets.with-header-bg {
		.facets-body.has-max-height {
			@include facets-body-contained-height-style;
		}
	}
}

