

// Used by forms/components/Checkbox.js
.checkbox.checkbox-with-label {
    > label {
        display: flex !important;
        align-items: center;
    }
}

// Used by DragAndDropUpload.js
.drag-and-drop-upload {
    .is-loading-overlay-cont {
        background-Color: rgba(255,255,255,.8);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    
        > div {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            text-align: center;
            color: grey;
            font-size: 36;
        }
    }
    
    .dropzone {
        background-color: #eeeeee;
        border: 1px solid #efefef;
        height: 30vh;
        overflow-x: hidden;
        > ul {
            list-style-type: none;
        }
        .filename {
            font-size: 12px;
        }
        .filesize {
            font-size: 10px;
        }
    }
}

// Used by forms/components/SearchAsYouType.js in LinkedObj class
.linked-object-buttons-container {
    // .adv-search {}
    .create-new-obj {
        margin-left: 2px;
    }
}

// Used by forms/components/SearchSelectionMenu.js
.search-selection-menu.dropdown {
    margin-right: 2px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0px;
    flex-basis: 100px;

    button.btn.dropdown-toggle {
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        text-overflow: ellipsis;
        text-align: left;
        font-weight: 400;
    }
    > div.search-selection-menu-body.dropdown-menu {
        z-index: 100px;
        max-width: 300px;
        overflow-x: hidden;
        padding: 0; // Unset default menu padding, we have inner divs with own padding
        .inner-container {
            .text-input-container {
                width: 100%;
                border-bottom: 1px solid #eee;
            }
            .vertical-scroll-container {
                button.button-scroll {
                    color: #cccccc;
                    border: unset;
                    background-color: #f8f8f8;
                    
                    &.arrow-up {
                        box-shadow: 0 10px 10px 3px rgba(200,200,200,0.2);
                        border-bottom: #eeeeee solid 1px;
                        position: absolute;
                    }
                    &.arrow-down {
                        box-shadow: 0 -10px 10px 30px rgba(200,200,200,0.2);
                        border-top: #eeeeee solid 1px;
                        position: absolute;
                        bottom: 0;
                    }
                    &:hover {
                        background-color: #ffffff;
                    }
                    &:active {
                        background-color: #e5e5e5;
                    }
                }

                .scrollable-list-container {
                    overflow-y: auto;
                    overflow-x: hidden;
                    max-height: 300px;
                    max-height: 33vh;
                    scrollbar-width: none;
                    -ms-overflow-style: none;
                    ::-webkit-scrollbar {
                        display: none;
                    }

                    .dropdown-item:active {
                        background-color: #ddd;
                    }

                }
            }
        }
    }
}

// Set lh to 1
.line-height-1 {
    line-height: 1;
}

.no-user-select {
	@include no-user-select;
}
