
/***************************************************
*********** Submission & Edit View	****************
****************************************************/

@import "mixins";

// FOR REUSE ELSEWHERE LATER - FILLS HEIGHT OF RELATIVE CONTAINER
@mixin vertically-centered-content-button {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 56px;
	text-align: center;
	color: #333;
	transition: background-color .5s;
	&:hover {
		cursor: pointer;
		color: #000;
	}
	> i.icon {
		font-size: 1.25rem;
		position: absolute;
		top: 50%;
		margin-top: -9px;
		left: 50%;
		margin-left: -7px;
	}
}




// Alias Input Multi-Field
@mixin alias-input-fields {
	.input-group {

		.alias-first-part-input {
			border-right: none;
			padding: 0;
			> button {
				width: 100%;
			}
			span.caret {
				opacity: 0.33;
				left: 10px;
				right: unset;
			}
			small.pull-left {
				margin-top: 2px;
				opacity: 0.5;
			}

			&:hover, &:focus, &:active, &.focus, &.active {
				> button {
					span.caret {
						opacity: 1;
					}
					small.pull-left {
						margin-top: 2px;
						opacity: 1;
					}
				}
			}

		}


		input[type="text"]{
			// Keeep same padding regardless if showing icon to preserve
			// consistent widths
			padding-right: calc(1.475em + 0.75rem);
		}

		> .input-group-prepend.alias-lab-single-option {
			& + .input-group-prepend.colon-separator > .input-group-text {
				border-left: none;
			}
		}

		> .input-group-prepend.colon-separator {
			font-weight: 700;
			border-left: none;
			border-right: none;
			background-color: #fff;
			& + input{
				border-left: none;
				padding-left: 8px;
				&:focus {
					border-color: #aaa;
					box-shadow: inset -2px 1px 1px rgba(0,0,0,0.075), 3px 0 8px rgba(0,0,0,0.1);
				}
			}
		}
	}
}

div.alias-input-field {
	@include alias-input-fields;
}

// Modal forms

.submission-view-modal {
	.modal-content {
		.input-wrapper {
			@include alias-input-fields;
		}
	}
}

.submission-view-page-container {
	.warning-banner {
		border-top: 1px solid #eee;
		color: #606060;
		position: relative;
		line-height: 1.25rem;
		> .row > div {
			padding-top: 12px;
			padding-bottom: 12px;
		}
		// CANCEL, VALIDATE, SUBMIT BUTTONS
		.action-buttons-container {
			position: relative;
			z-index: 5;
			> button {
				min-width: 100px;
				&:not(:last-child){
					margin-right: 10px;
				}
			}
			button[disabled]{
				pointer-events: all;
			}
		}
	}

	// SECTION TITLES
	.form-section-heading {
		font-size: 1.125rem;
		font-weight: 500;
		margin-top: 10px;
		padding-bottom: 8px;
		border-bottom: 1px solid #ccc;
		color: #333;
	}

	// TITLES
	.crumbs-title {

		min-height: 75px;

		.submission-working-title {
			font-weight: 400;
			font-size: 1.45rem;
			transform-origin: 0 50%;
			transition: transform .5s, opacity 0.5s;
			> span {
				/*
				> span, > i {
					vertical-align: middle;
				}
				*/
				.working-subtitle {
					font-weight: 300;
					color: #777;
					padding-right: 1px;
				}
				> i.icon {
					margin-right: 3px;
					font-size: 1.2rem;
					transform: rotate3d(0,1,0,180deg);
					margin-top: 0;
					opacity: 0.5;
					margin-left: -25px;
				}
			}
		}

		.title-crumb {

			.next-property-name {
				color: #777;
				font-weight: 400;
				font-size: 1rem;
				transition: opacity .3s;
				margin-top: -2px;
				/* display: inline-block; */
				margin-right: 5px;
				position: relative;
				top: -1px;
				display: block;
				margin-top: -18px;

			}
			
			&.mid-title {
				.submission-working-title {
					> span {
						cursor: pointer;
					}
					opacity: 0.75;
					transform: scale3d(0.8, 0.8, 1) translate3d(0px, -3px, 0px);
					i.icon-caret-right {
						opacity: 0.5;
					}
					
					&:hover {
						opacity: 1;
						i.icon-caret-right {
							opacity: 1;
						}
					}
					
				}
				&.depth-level-0 {
					.submission-working-title {
						.working-subtitle {
							color: #000;
						}
					}
				}
			}
			&.last-title {
				.submission-working-title {
					font-weight: 500;
					transform: translate3d(0px, 0px, 0px);
				}
			}

			@for $i from 0 through 4 {
				&.depth-level-#{$i} {
					padding-left: 20px * $i;
				}
			}

		}

		

	}

	

	// INNER FIELDS AREA
	.form-fields-container,
	.round-two-panel {

		.submission-field-header {
			border-bottom: 1px solid #ccc;
			padding-bottom: 8px;
			margin-bottom: 0px;
			margin-top: 10px;
			> button {
				margin-right: 10px;
				margin-top: -2px;
				line-height: 19px;
				border: none;
			}
		}

		div.field-row {
			position: relative;

			&:hover {
				z-index: 99;
			}
			&:not(:last-child){
				border-bottom: 1px solid #eee;
			}

			.field-container {
				min-height: 50px;
				padding-top: 8px;
				padding-bottom: 8px;
				display: flex;
				align-items: center;
				flex-wrap: nowrap;

				.submitted-linked-object-display-container,
				.incomplete-linked-object-display-container,
				.notice-message {
					padding-top: 8px;
					padding-bottom: 8px;

					i.icon-external-link-alt {
						color: #999;
						font-size: 0.7rem;
						vertical-align: text-top;
					}

				}

				.notice-message {
					color: #999;
				}

			}

			.submission-field-title {
				margin: 0 !important;
				font-weight: 500;
				padding-top: 18px;
				padding-top: calc((50px - 1rem) / 2);
				@include media-breakpoint-up(lg){
					text-align: right;
				}

				.field-descriptor {
					position: absolute;
					top: 4px;
					font-size: 0.825rem;
					color: rgba(0,0,0,0.25);
					transition: color .5s; 
					font-weight: 400;
					.array-indicator {
						margin-left: 2px;
						opacity: 0.75;
					}
				}

				.add-array-item-button {
					margin-top: -2px;
					margin-bottom: -2px;
					margin-left: 6px;
				}

				i.icon-info-circle {
					color: rgba(0,0,0,0.15);
					transition: color .5s;
				}
			}

			&:hover {
				> .row > .col-md-4 {
					.submission-field-title {
						.field-descriptor {
							color: rgba(0,0,0,0.66);
						}
					}
					i.icon-info-circle {
						color: rgba(0,0,0,1);
					}
				}
			}

			.field-column {
				opacity: 1;
				transition: opacity 0.33s;
				flex: 1 1 0;
				min-width: 0px;

				/* LinkTo selector fields when showing selection window */
				&.in-selection-field {
					.field-column > input {
						border: 2px solid #c78300;
						&.has-error {
							border-color: red;
						}
						&.has-success {
							border-color: #5b8c55;
						}
					}
				}

				textarea {
					/** Prevent textareas from being resizable in _width_ **/
					width: 100% !important;
					min-height: 50px;
				}
			}

			.remove-button-column {
				padding-left: 0;
				padding-right: 10px;
				width: 45px;
				flex: 0 0 45px;
				&.hidden {
					visibility: hidden;
				}
				.remove-button-container {
					width: 100%;
					> button {
						background: transparent;
						color: #843a39;
						
						width: 100%;
						font-weight: 400;
						padding-left: 5px;
						padding-right: 5px;
						border-color: transparent;
						&:hover {
							border-color: #9f3c3b;
							color: #B24342;
						}
						&.btn-success {
							color: #416f12;
							&:hover {
								color: #508816;
								border-color: #508816;
							}
						}
					}
				}
			}

			/* Override bootstrap hover styles for this page */
			.btn.btn-outline-secondary:hover,
			.btn.btn-outline-secondary:active,
			.btn.btn-outline-secondary:focus {
				border-color: #3e3e3e;
				background-color: #3e3e3e;
				color: #ffffff;
			}
			

			// Override array-containing field style to have no padding as it recursively will render field items with their own padding (so don't double-pad).
			&[data-field-type="array"] {
				> div > div > .row.field-container {
					padding-top: 0;
					padding-bottom: 0;

					// Fields containing arrays
					.array-field-container {
						min-height: 50px;

						&:not(:last-child){
							border-bottom: 2px solid #eeeeee;
							&[data-field-type="object"]{
								border-bottom: 2px solid #f4f4f4;
							}
						}

						&.odd {
							background-color: #fdfdfd;
						}

						// Row in field of in-array object rows
						.in-array-field {

							padding-top: 8px;
							padding-bottom: 8px;
							display: flex;
							flex-wrap: nowrap;

							
							&[data-field-type="object"] {
								padding-top: 0;
								padding-bottom: 0;

								> .field-column {
									 > div > div > .field-row {
										.field-container {
											// Same as ordinary abv.
										}
										
									}
								}

								> .remove-button-column {
									padding-top: 8px;
									padding-left: 8px;
									width: 53px;
									border-left: 1px solid #eee;
								}
							}

							&[data-field-type="object"],
							&[data-field-type="linked object"],
							&[data-field-type="enum"],
							&[data-field-type="suggested_enum"] {
								
								> .field-column.last-item-empty:not(:hover):not(.in-selection-field) {
									.dropdown-toggle,
									.linked-object-buttons-container,
									.submission-field-title,
									.form-control {
										opacity: 0.7;
									}
								}
							}

							&[data-field-type="text"],
							&[data-field-type="html"],
							&[data-field-type="code"],
							&[data-field-type="integer"],
							&[data-field-type="number"],
							&[data-field-type="boolean"],
							&[data-field-type="textarea"] {
								.field-column.last-item-empty:not(:hover):not(.in-selection-field) {
									opacity: 0.7;
								}
							}
						}
					}

					.add-array-item-button-container {
						padding-top: 8px;
						padding-bottom: 8px;
						padding-right: 10px;
						> button {
							padding-left: 9px;
							font-weight: 400;
							> i {
								position: relative;
								top: 1px;
							}
							&.btn-sm {
								padding-top: 6px;
								padding-bottom: 4px;
							}
						}
					}

				}
			}

			// Override aliases field style re: AliasInputField
			&[data-field-name="aliases"]{
				.input-wrapper {
					@include alias-input-fields;
					.dropdown.input-group-btn {
						width: 30% !important;
					}
				}
			}

			.linked-object-buttons-container {
				display: flex;
				align-items: center;
				// button.btn
				.select-create-linked-item-button {
					margin-right: 10px;
					white-space: nowrap;
					flex: 1 1 auto;
					overflow: hidden;
					text-overflow: ellipsis;
					&:last-child {
						margin-right: 0;
					}
				}
			}

		}

	}

	// NAV TREE
	.submission-view-navigation-tree {

		.submission-nav-leaf {
			width: 100%;
			padding-bottom: 2px;
			> div > button {
				border: none;
				border-radius: 0px;
				width: 20px;
				height: 19px;
				opacity: 1 !important;
			}
		}

		.inner-title {
			display: flex;
			align-items: center;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			> i.icon:first-child {
				padding-left: 7px;
			}
			> i.icon:last-child {
				padding-right: 7px;
				&.icon-external-link-alt {
					color: #999;
					font-size: 0.7rem;
				}
			}
			> .title-text {
				flex-grow: 1;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		//.....
		.submission-nav-leaf.linked-item-title {

			> .inner-title { // Item Name
				font-size: 0.925rem;
				border: 1px solid rgba(0,0,0,0.1);
				cursor: pointer;
				vertical-align: middle;
				font-weight: 500;
				border-radius: 2px;

				> .toggle-icon-button {
					vertical-align: middle;
					padding-left: 7px;
					//padding-right: 2px;
				}
				
				&.pre-existing, &.existing-item {
					//background-color: #4c994c;
					//color: #fff;
					background-color: #f4f4f4;
					//> .indicator-icon {
					//	color: #4c994c;
					//}
				}
				&.not-complete {
					background-color: #fcd19c;
				}
				&.complete-not-validated {
					background-color: #acd1ec;
				}
				&.failed-validation {
					background-color: #e2b6b6;
				}
				&.validated {
					background-color: #b7e1bb;
				}

				> span.title-text {
					display: inline-block;
					padding: 3px 3px 3px 7px;
				}
			}
			
			> .list-of-properties {
				padding-left: 0px;
				border-left: 1px dotted transparent;
				border-bottom: 1px dotted transparent;
				padding-top: 2px;
				padding-bottom: 5px;

				> .submission-nav-leaf.linked-item-type-name {
					> .inner-title { // Item Type
						opacity: 0.5;
						font-size: 0.8em;
						min-height: 20px;
						.property-expand-icon {
							padding: 0px;
							font-size: 0.625rem;
							width: 30px;
							text-align: center;
						}
					}
					&.is-required,
					&.has-children {
						> .inner-title {
							opacity: 1;
							font-weight: 500;
						}
					}
					&.has-children {
						//> .inner-title {
						//	padding-bottom: 2px;
							//padding-top: 2px;
						//}
					}
					> .children-container {
						padding-left: 30px;
						padding-bottom: 4px;
						padding-top: 2px;
					}
				}
			}

			&.active {
				> .inner-title {
					font-weight: 600;
					border: 1px solid #333;
					cursor: default;
					box-shadow: inset 0 0px 2px rgba(0,0,0,0.5);
					
					/*
					&:before {
						content: "Editing";
						//content: "\f040";
						font-family: FontAwesome;
						font-style: italic;
						margin-bottom: -3px;
						display: inline-block;
						font-weight: 400;
						padding: 3px 5px 0px;
					}
					*/
					> span.title-text {
						padding-top: 3px;
						padding-bottom: 3px;
					}
				}
				> .list-of-properties {
					border-color: #ddd;
				}
			}

			&.leaf-depth-0 {
				> .inner-title {
					margin-left: 0;
				}
			}
		}
		
	}
}

// SELECT EXISTING LINKTO

.submission-view-modal.select-existing-item-modal {
	> .modal-dialog {
		width: auto;
		margin: 30px;
	}
}

// Draggable Cursor Indicator
div.draggable-item-cursor {

	position: absolute;
	z-index: -1000;
	top: -1000px;
	left: 1000px;
	background-color: #555;
	padding: 8px 12px;
	width: 300px;
	border-radius: 2px;
	border: 1px solid #000;
	color: #ddd;

	> strong {
		font-weight: 500;
		color: #fff;
	}
}

div.full-window-drop-receiver {
	position: fixed;
	z-index: 10000;
	opacity: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(27, 144, 173, 0.8); // rgba(0,0,0,0.7);
	transition: opacity .25s;
	> h2 {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		color: #fff;
		text-align: center;
		left: 0;
		right: 0;
		font-weight: 500;
		animation: pulseText 1.5s infinite;
	}
}

@keyframes pulseText {
	0% {
	  	transform: scale(1);
	}
	60% {
	  	transform: scale(1.1);
	}
	100% {
	  	transform: scale(1);
	}
}

// SUBMISSION STUFF

.submission-pop-icon{
	background-color: #fff;
	padding: 1px 5px;
	a:hover, a:active {
		text-decoration: none !important;
		color: #000000;
	}
	a{
		padding: 3px 5px 0px 5px;
	}
}


.submission-hidden-nav{
	display: none;
}



/************************
	LinkToDropdown
************************/

div.dropdown.linkto-dropdown {
	.btn.dropdown-toggle {
		position: relative;
		padding-right: 2rem;
		&:after {
			position: absolute;
			top: 50%;
			margin-top: -2px;
			right: 12px;
		}
	}
	div.dropdown-menu {
		min-width: 320px;
		max-width: 320px;
		max-width: 40vw;

		.selectable-item-option {
			// Top & Bottom padding increased from 0.25rem default
			padding: 0.4rem 1.5rem;
			> .row {
				> .col:first-child {
					/* min-width: 50px; */
					/* overflow: hidden; */
					> span.d-block {
						text-overflow: ellipsis;
						overflow-x: hidden;
						width: 100%;
					}
				}
				> .col-auto:last-child {
					overflow-x: hidden;
    				text-overflow: ellipsis;
				}
			}

			&:not(:last-child){
				border-bottom: 1px solid #eee;
			}
		}

		.search-as-you-type-container {
			padding: 0 10px 0.5rem;
			border-bottom: 1px solid #ddd;
		}

	}
}
