/***************************************************
*********** Submission & Edit View	****************
****************************************************/


// FOR REUSE ELSEWHERE LATER - FILLS HEIGHT OF RELATIVE CONTAINER
@mixin vertically-centered-content-button {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 56px;
	text-align: center;
	color: #333;
	transition: background-color .5s;
	&:hover {
		cursor: pointer;
		color: #000;
	}
	> i.icon {
		font-size: 1.25rem;
		position: absolute;
		top: 50%;
		margin-top: -9px;
		left: 50%;
		margin-left: -7px;
	}
}




// Alias Input Multi-Field
@mixin alias-input-fields {
	.input-group {
		.dropdown.input-group-btn {
			width: 20%;
			> button.alias-first-part-input {
				width: 100%;
				border-right: none;
				box-shadow: none;
				outline: none;
				padding-left: 24px;
				padding-right: 8px;
				padding-top: 5px;
    			padding-bottom: 5px;
				span.caret {
					opacity: 0.33;
					left: 10px;
					right: unset;
				}
				small.pull-left {
					margin-top: 2px;
					opacity: 0.5;
				}
			}
			&:hover, &:focus, &:active, &.focus, &.active {
				> button {
					span.caret {
						opacity: 1;
					}
					small.pull-left {
						margin-top: 2px;
						opacity: 1;
					}
				}
			}
		}
		.input-group-addon.alias-lab-single-option {
			background: #fff;
			padding-left: 24px;
			padding-right: 5px;
		}
		.input-group-addon.colon-separator {
			background-color: #fff;

            > .input-group-text {
                padding-left: 3px;
                padding-right: 3px;
                border-left: none;
                border-right: none;
                font-weight: 700;
            }

			& + input{
				border-left: none;
				padding-left: 8px;
				&:focus {
					border-color: #aaa;
					box-shadow: inset -2px 1px 1px rgba(0,0,0,0.075), 3px 0 8px rgba(0,0,0,0.1);
				}
			}
		}
	}
}


/***************************************************
******************* Modal Forms	********************
****************************************************/

.submission-view-modal {
	.modal-content {
		.input-wrapper {
			@include alias-input-fields;
		}
	}
}

/***************************************************
*******************    Forms    ********************
****************************************************/

.submission-view-page-container {

	.warning-banner {
		border-top: 1px solid #eee;
		color: #606060;
		position: relative;
		line-height: 1.25rem;
		> .row > div {
			padding-top: 12px;
			padding-bottom: 12px;
		}
		// CANCEL, VALIDATE, SUBMIT BUTTONS
		.action-buttons-container {
			position: relative;
			z-index: 5;
			> button {
				min-width: 100px;
				&:not(:last-child){
					margin-right: 10px;
				}
			}
			button[disabled]{
				pointer-events: all;
			}
		}
	}

	// SECTION TITLES
	.form-section-heading {
		font-size: 1.125rem;
		font-weight: 500;
		margin-top: 10px;
		padding-bottom: 8px;
		border-bottom: 1px solid #ccc;
		color: #333;
	}

	// TITLES
	.crumbs-title {

		min-height: 75px;

		.submission-working-title {
			font-weight: 400;
			font-size: 1.45rem;
			transform-origin: 0 50%;
			transition: transform .5s, opacity 0.5s;
			> span {
				/*
				> span, > i {
					vertical-align: middle;
				}
				*/
				.working-subtitle {
					font-weight: 300;
					color: #777;
					padding-right: 1px;
				}
				> i.icon {
					margin-right: 3px;
					font-size: 1.2rem;
					transform: rotate3d(0,1,0,180deg);
					margin-top: 0;
					opacity: 0.5;
					margin-left: -25px;
				}
			}
		}

		.title-crumb {

			.next-property-name {
				color: #777;
				font-weight: 400;
				font-size: 1rem;
				transition: opacity .3s;
				margin-top: -2px;
				/* display: inline-block; */
				margin-right: 5px;
				position: relative;
				top: -1px;
				display: block;
				margin-top: -18px;

			}
			
			&.mid-title {
				.submission-working-title {
					> span {
						cursor: pointer;
					}
					opacity: 0.75;
					transform: scale3d(0.8, 0.8, 1) translate3d(0px, -3px, 0px);
					i.icon-caret-right {
						opacity: 0.5;
					}
					
					&:hover {
						opacity: 1;
						i.icon-caret-right {
							opacity: 1;
						}
					}
					
				}
				&.depth-level-0 {
					.submission-working-title {
						.working-subtitle {
							color: #000;
						}
					}
				}
			}
			&.last-title {
				.submission-working-title {
					font-weight: 500;
					transform: translate3d(0px, 0px, 0px);
				}
			}

			@for $i from 0 through 4 {
				&.depth-level-#{$i} {
					padding-left: 20px * $i;
				}
			}

		}

		

	}

	// INNER FIELDS AREA
	.form-fields-container,
	.round-two-panel {

		.submission-field-header {
			border-bottom: 1px solid #ccc;
			padding-bottom: 8px;
			margin-bottom: 0px;
			margin-top: 10px;
			> button {
				margin-right: 10px;
				margin-top: -2px;
				line-height: 19px;
				border: none;
			}
		}

		div.field-row {
			position: relative;

			&:hover {
				z-index: 100;
			}
			&:not(:last-child){
				border-bottom: 1px solid #eee;
			}

			.field-container {
				min-height: 50px;
				padding-top: 8px;
				padding-bottom: 8px;
				display: flex;

				.submitted-linked-object-display-container,
				.incomplete-linked-object-display-container,
				.notice-message {
					padding-top: 8px;
					padding-bottom: 8px;
				}

				.notice-message {
					color: #999;
				}

			}

			.submission-field-title {
				margin: 0 !important;
				font-weight: 500;
				padding-top: 18px;
				@include media-breakpoint-up(md) {
					text-align: right;
				}

				.field-descriptor {
					position: absolute;
					top: 4px;
					font-size: 0.825rem;
					color: rgba(0,0,0,0.25);
					transition: color .5s; 
					font-weight: 400;
					.array-indicator {
						margin-left: 2px;
						opacity: 0.75;
					}
				}

				.add-array-item-button {
					margin-top: -2px;
					margin-bottom: -2px;
					margin-left: 6px;
				}

				i.icon-info-circle {
					color: rgba(0,0,0,0.15);
					transition: color .5s;
				}
			}

			&:hover {
				> .row > .col-md-4 {
					.submission-field-title {
						.field-descriptor {
							color: rgba(0,0,0,0.66);
						}
					}
					i.icon-info-circle {
						color: rgba(0,0,0,1);
					}
				}
			}

			.field-column {
				flex: 1;
				opacity: 1;
				transition: opacity 0.33s;

				&.last-item-empty:not(:hover):not(.in-selection-field) {
					opacity: 0.7;
				}

				/* LinkTo selector fields when showing selection window */
				&.in-selection-field {
					.field-column > input {
						border: 2px solid #c78300;
						&.has-error {
							border-color: red;
						}
						&.has-success {
							border-color: #5b8c55;
						}
					}
				}

				textarea {
					/** Prevent textareas from being resizable in _width_ **/
					width: 100% !important;
					min-height: 50px;
				}
			}

			.remove-button-column {
				padding-left: 0;
				width: 45px;
				float: right;
				.remove-button-container {
					width: 100%;
					> button {
						background: transparent;
						color: #843a39;
						
						width: 100%;
						font-weight: 400;
						padding-left: 5px;
						padding-right: 5px;
						border-color: transparent;
						&:hover {
							border-color: #9f3c3b;
							color: #B24342;
						}
						&.btn-success {
							color: #416f12;
							&:hover {
								color: #508816;
								border-color: #508816;
							}
						}
					}
				}
			}

			button:not(.btn-xs):not(.btn-sm):not(.btn-large):not(.btn-xlarge){
				height: 34px;
				padding-bottom: 7px;
			}

			

			// Override array-containing field style to have no padding as it recursively will render field items with their own padding (so don't double-pad).
			&[data-field-type="array"] {
				> div > div > .row.field-container {
					padding-top: 0;
					padding-bottom: 0;

					// Fields containing arrays
					.array-field-container {
						min-height: 50px;

						&:not(:last-child){
							border-bottom: 1px dotted #f4f4f4;
							&[data-field-type="object"]{
								border-bottom: 2px solid #f4f4f4;
							}
						}

						// Row in field of in-array object rows
						.in-array-field {

							padding-top: 8px;
							padding-bottom: 8px;
							display: flex;
							
							&[data-field-type="object"] {
								padding-top: 0;
								padding-bottom: 0;
								
								> .field-column {
									 > div > div > .field-row {
										.submission-field-title {
											padding-top: 18px;
										}
										.field-container {
											.linked-object-buttons-container {
												display: flex;
												> button.select-create-linked-item-button {
													flex: 1;
													&:last-child {
														margin-right: 0;
													}
												}
											}
										}
										
									}
								}

								> .remove-button-column {
									padding-top: 8px;
									padding-left: 8px;
									width: 53px;
									border-left: 1px solid #eee;
								}
							}

						}
					}

					.add-array-item-button-container {
						padding-top: 8px;
						padding-bottom: 8px;
						padding-right: 10px;
						> button {
							padding-left: 9px;
							font-weight: 400;
							> i {
								position: relative;
								top: 1px;
							}
							&.btn-sm {
								padding-top: 6px;
								padding-bottom: 4px;
							}
						}
					}

				}
			}

			// Override aliases field style re: AliasInputField
			&[data-field-name="aliases"]{
				.input-wrapper {
					@include alias-input-fields;
					.dropdown.input-group-btn {
						width: 30% !important;
					}
				}
			}

			.linked-object-buttons-container {
				display: flex;
				.select-create-linked-item-button {
					width: 160px;
					margin-right: 10px;
					&:last-child {
						margin-right: 0;
					}
					flex: 1;
				}
			}

		}

	}

	// NAV TREE
	.submission-view-navigation-tree {

		.submission-nav-leaf {
			width: 100%;
			> div > button {
				border: none;
				border-radius: 0px;
				width: 20px;
				height: 19px;
				opacity: 1 !important;
			}
		}

		//.....
		.submission-nav-leaf.linked-item-title {

			> .inner-title { // Item Name
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-size: 0.925rem;
				border: 1px solid rgba(0,0,0,0.1);
				cursor: pointer;
				vertical-align: middle;
				font-weight: 500;
				border-radius: 2px;

				> i.icon {
					padding-left: 7px;
					//padding-right: 2px;
				}

				> i.icon-pencil {
					padding-top: 3px;
					padding-right: 4px;
					font-size: 1.2rem;
				}

				> i.icon-external-link {
					padding-right: 5px;
					padding-top: 7px;
				}

				> .toggle-icon-button {
					vertical-align: middle;
					padding-left: 7px;
					//padding-right: 2px;
				}
				
				&.pre-existing, &.existing-item {
					//background-color: #4c994c;
					//color: #fff;
					background-color: #f4f4f4;
					//> .indicator-icon {
					//	color: #4c994c;
					//}
				}
				&.not-complete {
					background-color: #fcd19c;
				}
				&.complete-not-validated {
					background-color: #acd1ec;
				}
				&.failed-validation {
					background-color: #e2b6b6;
				}
				&.validated {
					background-color: #b7e1bb;
				}

				> span.title-text {
					display: inline-block;
					padding: 3px 7px;
				}
			}
			
			> .list-of-properties {
				padding-left: 15px;
				border-left: 1px dotted transparent;
				border-right: 1px dotted transparent;
				border-bottom: 1px dotted transparent;
				//margin-bottom: 5px;
				padding-top: 2px;
				padding-bottom: 2px;
				> .submission-nav-leaf.linked-item-type-name {
					> .inner-title { // Item Type
						opacity: 0.5;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						font-size: 0.8em;
						.property-expand-icon {
							margin-right: 6px;
							font-size: 0.625rem;
						}
					}
					&.is-required,
					&.has-children {
						> .inner-title {
							opacity: 1;
							font-weight: 500;
						}
					}
					&.has-children {
						//> .inner-title {
						//	padding-bottom: 2px;
							//padding-top: 2px;
						//}
					}
					> .children-container {
						padding-left: 18px;
						padding-bottom: 4px;
						padding-top: 2px;
						//......
						> .submission-nav-leaf.linked-item-title {
							margin: 1px 0;
						}
						//.....
					}
				}
			}

			&.active {
				> .inner-title {
					font-weight: 600;
					border: 1px solid #333;
					cursor: default;
					box-shadow: inset 0 0px 2px rgba(0,0,0,0.5);
					
					/*
					&:before {
						content: "Editing";
						//content: "\f040";
						font-family: FontAwesome;
						font-style: italic;
						margin-bottom: -3px;
						display: inline-block;
						font-weight: 400;
						padding: 3px 5px 0px;
					}
					*/
					> span.title-text {
						padding-top: 3px;
						padding-bottom: 3px;
					}
				}
				> .list-of-properties {
					border-color: #ddd;
				}
			}

			&.leaf-depth-0 {
				> .inner-title {
					margin-left: 0;
					padding-top: 1px;
				}
			}
		}
		
    }
    
    .submission-hidden-nav {
        display: none;
    }
}



/****************************************
******* LinkToSelector Drop Area ********
*****************************************/

div.full-window-drop-receiver {
	position: fixed;
	z-index: 10000;
	opacity: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(27, 144, 173, 0.8); // rgba(0,0,0,0.7);
	transition: opacity .25s;
	> h2 {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		color: #fff;
		text-align: center;
		left: 0;
		right: 0;
		font-weight: 500;
		animation: pulseText 1.5s infinite;
	}
}

@keyframes pulseText {
	0% {
	  	transform: scale(1);
	}
	60% {
	  	transform: scale(1.1);
	}
	100% {
	  	transform: scale(1);
	}
}
