/************ TOGGLE SWITCH and ICON TOGGLE *************/
// Generated via https://proto.io/freebies/onoff/

$onoff-toggle-switch-border-color: #e3e3e3 !default;

.onoffswitch {
    position: relative; width: 40px;
	user-select: none;
	&.disabled {
		opacity: 0.75;
	}
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid $onoff-toggle-switch-border-color; border-radius: 20px;
	height: 20px;
	margin: 0;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
	background-color: #46A9EB; color: #FFFFFF;
	transition: background-color .5s;
}
.onoffswitch.disabled .onoffswitch-inner:before {
	background-color: #eaeaea;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 20px;
    border: 2px solid $onoff-toggle-switch-border-color; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}



// Styles for IconToggle component
.icon-toggle {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid #f8f8f8;
    border-radius: 0.25rem;
    margin-right: 0.625rem;
}